
/* Geral */
html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    color: white;
}


.section-title{

    text-align: center;
    font-size: 30px;
    
}

.section-text{
    
    font-size: 18px;
    text-align: center;
    
}

.section-container{
    margin-top: -30px;
    position: relative;
    top: 0;
    background-color: #633309;
    height: 150px;
    width: 1583px;

    
    
}

.section-background{
    min-height: 600px;
}

/*#lateral{
    height: 100%;
    width: 10%;
    background-color: white;
    position: absolute;
    margin-top: -2px;
}
*/



/* menu */
.main-header{
    position: relative;
}

.header-video{
    width: 100%;
    height: 100%;
    max-width: 100%;
    

}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #24170f;
    z-index: 100;
}

.main-list{
    padding: 0;
    
}

.main-list-item{
    display: inline-block;
    padding: 15px;
    border: 1px solid white;
    
}

.main-list-item:hover{
    background: burlywood;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-link:hover{
    color: #cc8400;
}

.header-img{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: auto;
}

.colortest{
    background-color: burlywood;
    position: absolute;
    margin-left: 950px;
    margin-top: 1px;
    width: 633px;
    height: 53px;
    text-align: center;
    padding-top: 5px;
    font-size: 30pt;
}

/* O LUGAR */

.lugar{
    position: relative;
    margin-top: 0px;
    width: 80%;
}

.map{
    position: absolute;
    width: 20%;
    margin-left: 1013px;
    margin-top: -515px;


    
}


/* DRINKS*/


.drink{
height: 450px;
position: relative;
width: 50%;
margin-top: 31px;
    
}

/* Footer */

.main-footer{
position: relative;
padding: 10px;
border-top: 1px solid white;

}

.footer-section{
display: inline-block;    
vertical-align: top;
width: 33%;
}

.logoxd{
    position: absolute;
    width: 25%;
    margin-top: -500px;
    margin-left: 600px;
}